
<div class="recently-title">
  <h2 class="title inline-richtext h2 scroll-trigger animate--slide-in">Wishlist</h2>
</div>

<div class="main-wishlist">
<div class="js-wishlistBlock grid grid--1-col-tablet-down grid--4-col-desktop product-grid">
  <!-- Wishlist items will be displayed here -->
</div>
</div>

