pickup-availability {
  display: block;
}

pickup-availability[available] {
  min-height: 8rem;
}

.pickup-availability-preview {
  align-items: flex-start;
  display: flex;
  gap: 0.2rem;
    padding: 1rem 2rem 0 0;
    margin: 1rem 0;
}

.pickup-availability-preview .icon {
  flex-shrink: 0;
  height: 1.8rem;
}

.pickup-availability-preview .icon-unavailable {
  height: 1.6rem;
  margin-top: 0.1rem;
}

.pickup-availability-button {
  background-color: transparent;
  color: rgba(var(--color-foreground));
  letter-spacing: 0.06rem;
  padding: 0 0 0.2rem;
  text-align: left;
  /* text-decoration: underline; */
}

.pickup-availability-button:hover {
  color: rgb(var(--color-foreground));
}

.pickup-availability-info * {
  margin: 0 0 0.6rem;
}

pickup-availability-drawer {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background: rgba(var(--color-foreground), .2) !important;
    height: 100%;
}
.popup-modal__content{
    padding-right: 1.5rem;
}
.popup-modal__content {
    background-color: rgb(var(--color-background));
    height: 100%;
    left: auto;
    right: 0;
    margin: 0;
    padding: 2rem;
    overflow-y: auto;
    width: 45rem;
    position: absolute;
    top: 0;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-style: solid;
    transform: translateX(100%);
    transition-property: transform;
    border-width: var(--popup-border-width);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
pickup-availability-drawer[open] .popup-modal__content{
        transform: translateX(0);
}

  pickup-availability-drawer {
    transform: translate(100%);
    width: 100%;
  }

  pickup-availability-drawer[open] {
    opacity: 1;
    visibility: visible;
    z-index: 101;
    transform: translateX(0);
    animation: animateDrawerOpen var(--duration-default) ease;
    overflow-x:clip;
  }

  
@media screen and (max-width: 500px) {
  .popup-modal__content {
      width: 100%;
      padding: 1.4rem;
  }
  .pickup-availability-drawer-title {
    margin: 0;
  }
}

.pickup-availability-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.pickup-availability-drawer-title {
  margin: 0.5rem 0 0;
}

.pickup-availability-header .icon {
  width: 2rem;
}

.pickup-availability-drawer-button {
  background-color: transparent;
  border: none;
  color: rgb(var(--color-foreground));
  cursor: pointer;
  display: block;
  height: 4.4rem;
  padding: 0;
  width: 4.4rem;
}

.pickup-availability-drawer-button:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.pickup-availability-variant {
  font-size: 1.4rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin: 0 0 1.2rem;
  text-transform: capitalize;
  color: rgba(var(--color-foreground));
}

.pickup-availability-variant > * + strong {
  margin-left: 1rem;
}

.pickup-availability-list__item {
  border-bottom: .1rem solid rgba(var(--color-foreground), .13);
  padding: 2rem 0;
      font-size: 1.6rem;
}

.pickup-availability-list__item:first-child {
  border-top: .1rem solid rgba(var(--color-foreground), .13);
}

.pickup-availability-list__item > * {
  margin: 0;
}

.pickup-availability-list__item > * + * {
  margin-top: 1rem;
}

.pickup-availability-address {
  font-style: normal;
  font-size: 1.3rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.pickup-availability-address p {
  margin: 0;
  font-size: 1.3rem;
}
.pickup-availability-preview{
  font-size: 1.4rem;
}

@keyframes animateDrawerOpen {
  @media screen and (max-width: 749px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 750px) {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
