/* Wrapper for positioning and hover stability */
.mega-menu {
  position: relative;
}
.menu-short-menu.mega-menu__content{
  overflow-y: auto;
  position: absolute;
  left: auto;
  padding: 3rem 7.8rem 3rem 3rem;
  width: auto;
  max-width: max-content;
  right: auto;
}

.mega-menu {
  position: relative;
}

 .mega-menu__content{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--gradient-background);
  border-radius: var(--media-radius);
  border-top: 2px solid transparent;
  z-index: 100;
 max-height:calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
  overflow: hidden;
   opacity: 0;
  visibility: hidden;
  pointer-events: none;
 transform: translateY(20px);
  transition: opacity .35s ease,transform .35s ease,visibility .35s ease,border-top-color .35s ease;
    overflow-y: auto;
    padding: 5rem 0;
    right: 0;
}
@media screen and (min-width: 990px) {
  .mega-menu__content {
    pointer-events: auto;
  }

  .mega-menu summary {
    cursor: pointer;
  }
}

.mega-menu.is-open .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
  border-top: 2px solid var(--secondary-button-bg-hover);
}

.custom-summary {
  list-style: none;
}

.custom-summary::-webkit-details-marker {
  display: none;
}

details.mega-menu > summary {
   list-style: none;
  cursor: pointer;
}
.mega-menu__content-inner {
  padding: 0;
}

.header__menu-item {
  cursor: pointer;
  padding: 1rem 1.5rem;
}
.menu-multi-menu .menu-list-parent{
  display:flex;
  justify-content: space-between;
  gap: 1rem;
}
.mega-menu__item{
    display: flex;
   justify-content: flex-end;
    width: 100%;
    flex-direction: row;
    gap: 3rem;
}
.mega-menu__item .mega-menu__image {
        max-width: 100%;
    height: auto;
}
.menu-multi-menu .menus-lists{
    width: 50%;
}
.menu-multi-menu .images-list {
    width: 50%
}
.images-list .mega-menu__item a{
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
}
.images-list .mega-menu__item a img {
  transition: all 4s cubic-bezier(0, 0, 0.1, 1);
  -webkit-transition: all 4s cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: all 4s cubic-bezier(0, 0, 0.1, 1);
  -ms-transition: all 4s cubic-bezier(0, 0, 0.1, 1);
  -o-transition: all 4s cubic-bezier(0, 0, 0.1, 1);
  transition-delay: .1s;
  position: relative;
  max-width: 100%;
}
.images-list .mega-menu__item a:hover::after {
  -webkit-transform: rotate(0) scale(1);
  -moz-transform: rotate(0) scale(1);
  -ms-transform: rotate(0) scale(1);
  -o-transform: rotate(0) scale(1);
  transform: rotate(0) scale(1);
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
}

.images-list .mega-menu__item a:after{
    content: '';
    background: none repeat scroll 0 0 rgba(0, 0, 0, .07);
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    left: 10px;
    -webkit-transition: all 400ms ease-in-out 0s;
    -moz-transition: all 400ms ease-in-out 0s;
    -ms-transition: all 400ms ease-in-out 0s;
    -o-transition: all 400ms ease-in-out 0s;
    transition: all 400ms ease-in-out 0s;
    -webkit-transform: rotate(-180deg) scale(0);
    -moz-transform: rotate(-180deg) scale(0);
    -ms-transform: rotate(-180deg) scale(0);
    -o-transform: rotate(-180deg) scale(0);
    transform: rotate(-180deg) scale(0);
}

.images-list .mega-menu__item h3{    
  margin: 0.5rem 0;
}
.mega-menu {
  position: static;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}
.mega-menu__list {
   display: grid;
    gap: 1.5rem 5.5rem;
    grid-template-columns:repeat(3,minmax(0,1fr));
    list-style: none;
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.main-header ul.list-menu li:nth-child(1) .mega-menu:hover .menu-short-menu.mega-menu__content {
  transform: translateY(0); 
}
.mega-menu__link {
  color: rgb(var(--color-foreground));
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 1rem;
  padding-top: 0;
  text-decoration: none;
  font-size: 1.5rem;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
  transition: color 0.2s ease;
}

.mega-menu__content ul.mega-menu__list li .mega-menu__link--level-2 {
  font-size: 1.6rem;
      border-bottom: 1px solid rgb(var(--color-foreground), 0.10);
      color: #000;
}
.menus-lists ul.mega-menu__list .list-unstyled{
  margin: 1rem 0 0; 
}
.menu-short-menu.mega-menu__content ul.mega-menu__list li .mega-menu__link{
      font-size: 1.5rem;
      font-weight: 500;
      border-bottom: 0;
}

.header--top-center .mega-menu__list > li {
  width: auto;
  padding-right: 1.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}