.list-payment {
  display: flex;
  justify-content: center;
  margin: -0.5rem 0;
  padding-left: 0;
}

@media screen and (min-width: 750px) {
  .list-payment {
    justify-content: flex-start;
    margin: -0.5rem;
  }
}

.list-payment__item {
  align-items: center;
  display: flex;
  padding: 0.5rem;
}
