.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media(max-width:500px){
  .grid--2-col-tablet-down .grid__item{
    width: 100%;
    max-width: 100%;
  }
 
}